h1{
    font-family: fantasy;
}
table{
    font-family: fantasy; 
    border-collapse: collapse;
    border-width : 1px;
    border-style: solid;
    border-color: slateblue;
}

th{
    font-weight: 800 ; 
    background-color: slateblue;
    color : whitesmoke;
  
}

